@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    background: #00348f;
    color: white;
}
li{
    list-style: none;
}
#main{
    width: 100%;
}
.container{
    margin: 50px auto;
    width: 1320px;
}
/*------------------ Hero area  START -----------------*/
.btn
{
    width: 187px;
    height: 56px;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    background: #DD0077;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.h_btn
{
    border-radius: 5px;

    padding: 16px, 25px, 16px, 25px;
}

.hero_area
{   width: 100%;
    background: linear-gradient(180deg, #00398F 0%, #510049 100%);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border-radius: 30px;
    column-gap: 24px;
    margin-bottom: 130px;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
}

.h_l_text
{
    width: 100%;
    padding: 106px;
    padding-right: 0;
}

.h_title
{
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
}

.h_desc
{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.h_r_img
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: auto;
    align-content: flex-end;
    justify-content: flex-start;
}
.h_r_img img
{
    /* padding-top: 20px; */
    height: 100%;
    padding-right: 106px;
}
/*-------------- hero responsive  START ------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #main{
        width: 100%;
    }
    .container{
        margin: 50px 20px;
        width: 90%;
    }
    .btn
{
    width: 160px;
    height: 44px;
    border-radius: 10px;
}

.h_btn
{
    border-radius: 5px;

    padding: 16px, 25px, 16px, 25px;
}
i.fa-solid.fa-angle-right {
    margin-left: 10px;
}
.hero_area
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    margin-bottom: 31px;
    justify-items: center;
}

.h_l_text
{
    width: 88%;
    padding: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.h_title
{
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 18px;
}

.h_desc
{
    font-size: 14px;
    font-weight: 400;
    width: 230px;
    max-height: 44px;
    line-height: 1.8em;
    margin-bottom: 0px;
    white-space: break-spaces;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
}

.h_r_img
{
    display: flex;
}
.h_r_img img
{
    /* padding-top: 20px; */
    width: 100%;
    /* height: 100%; */
    padding-right: 0;
    padding: 0px 60px;
}  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 599px) and (max-width:767px){

    #main{
        width: 100%;
    }
    .container{
        margin: 50px auto;
        width: 90%;
    }
    .btn
{
    width: 135px;
    height: 44px;
}

.h_btn
{
    border-radius: 5px;

    padding: 16px, 25px, 16px, 25px;
}

.hero_area
{
    column-gap: 24px;
    margin-bottom: 70px;
    align-items: center;
}

.h_l_text
{
    width: 100%;
    padding: 44px;
    padding-right: 0;
    box-sizing: border-box;
}

.h_title
{
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 30px;
}

.h_desc
{
    font-size: 14px;
    font-weight: 400;
    width: 235px;
    line-height: 1.8em;
    overflow: hidden;
    max-height: 48px;
    margin-bottom:15px;
    white-space: break-word;

}

.h_r_img
{
}
.h_r_img img
{
    width: 100%;
    padding-right: 15px;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1200px) {
    
    #main{
        width: 100%;
    }
    .container{
        margin: 50px auto;
        width: 90%;
    }
    .btn
{
    width: 161px;
    height: 48px;
}

.h_btn
{
    border-radius: 5px;

    padding: 16px, 25px, 16px, 25px;
}

.hero_area
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.h_l_text
{
    width: 100%;
    padding: 61px;
    padding-right: 0;
}

.h_title
{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.h_desc
{
    width: 240px;
    max-height: 48px;
    margin-bottom: 15px;
    line-height: 1.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}

.h_r_img
{
}
.h_r_img img
{
    /* padding-top: 20px; */
    width: 100%;
    /* height: 100%; */
    padding-right: 20px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        margin: 50px auto;
        width: 1320px;
    }
    .btn
{
    width: 161px;
    height: 48px;
}

.h_btn
{
    border-radius: 5px;

    padding: 16px, 25px, 16px, 25px;
}

}

/*------------ hero responsive FINISHED ------------*/

/*--------- Hero area FINISHED ------------*/




/*------------------ Blog area  START -----------------*/
.blog_area{
    width: 100%;
    display: grid;
    grid-template-columns: 312px 1fr;
    gap: 24px;
    justify-content: center;
}

.navbar{
    width: 100%;
    background: linear-gradient(354deg, #00398F 0%, #510049 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-content: center;
    height: 312px;
}
.navbar>ul{
    width: 252px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.navbar>ul>li>a{
    color: #000;
text-decoration: none;}
.navbar>ul>li{
    width: 100%;
    height: 64px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}
.navbar>ul>li.active>a{
    color: #fff;}
.navbar>ul>li.active{
background: #DD0077;
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.blog_card{
    border: 1px solid rgba(204, 204, 204, 0.486);
    border-radius: 10px;
}
.up_card{
    height: 240px;
    
}
.blog_info{
    padding: 17px;
}
.up_info{
    text-align: center;
}
.contries>h2{padding: 0 10px;}
.contries{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.contry_names{
    
    margin-bottom: 10px;
}

.blog_btn{
    padding: 3px 15px;
    border-radius: 5px;
    border: #93008b;
    background: #93008b;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}
.blog_desc{
    margin-bottom: 15px;
    font-weight: 500;
}
.blog_footer{
    display: flex;
}
.blog_footer>li{
    margin-right: 20px;
    font-size: 14px;
}
.blog_footer>li>i{
    margin-right: 5px;
    color: #93008b;
}

.blog_card>img {
    width: 100%;
    border-radius: 10px;
}

button.view_all{
    display: none;
    margin: auto;
}

img.germany {
    width: 100%;
}

img.france {
    width: 100%;
}
/*-------------- Blog area Responsive START--------------*/ 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        margin: 50px auto;
        width: 90%;
        overflow: hidden;
    }
    .blog_area{
        /* display: none; */
        width: 100%;
        grid-template-columns: 100%;
        gap: 30px;
    }
    
    .navbar{
        height: 252px;
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 200px;
        padding-top: 20px;
    }
    .navbar>ul{
        width: 252px;
        height: 300px;
        flex-direction: column;
    }

    .navbar>ul>li{
        color: #000;
        border: 1px solid #e5e5e5;
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        width: 160px;
        height: 48px;
    }
        .navbar>ul>li:first-child {
    width: 252px;
}
    .navbar>ul>li.active{
        background: #DD0077;
        color: #fff;
    
    }
    .blogs{
        justify-content: center;
        gap: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .blog_footer{
        display: flex;
    }
    .blog_footer>li{
        margin-right: 20px;
        font-size: 14px;
    }
    .blog_footer>li>i{
        margin-right: 5px;
        color: rgb(109, 109, 109);
    }
}

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (min-width: 599px) and (max-width:767px){
        .container {
            margin: 50px auto;
            width: 90%;
            overflow: hidden;
        }
        .blog_area{
            /* display: none; */
            width: 100%;
            grid-template-columns: 100%;
            gap: 30px;
        }
        
        .navbar{
            width: 100%;
            margin: auto;
            background: #ffffff00;
            display: flex;
            flex-direction: column;
            height: 90px;
        }
        .navbar>ul{
            width: 100%;
            flex-direction: row;
        }
        .navbar>ul>li{
            width: 30%;
            color: #000;
            border: 1px solid #e5e5e5;
            font-size: 18px;
        }
        .navbar>ul>li.active{
            background: #DD0077;
            color: #fff;
        
        }
        .blogs{
            justify-content: center;
            gap: 20px;
            justify-items: center;
        }

        .blog_footer{
            display: flex;
        }
        .blog_footer>li{
            margin-right: 20px;
            font-size: 14px;
        }
        .blog_footer>li>i{
            margin-right: 5px;
            color: rgb(109, 109, 109);
        }
        button.view_all{
            display: block;
            margin: auto;
        }
        img.germany {
            width: 40%;
        }
        
        img.france {
            width: 40%;
        }
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 992px) {
        button.view_all{
            display: block;
            margin: auto;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 1200px) {
        .container {
            margin: 50px auto;
            width: 90%;
            overflow: hidden;
        }
        .blog_area{
            width: 100%;
            grid-template-columns: 100%;
            gap: 30px;
        }
        
        .navbar{
            margin: auto;
            background: #ffffff00;
            display: flex;
            flex-direction: column;
            height: 90px;
        }
        .navbar>ul{
            width: 100%;
            flex-direction: row;
        }
        .navbar>ul>li{
            width: 230px;
            height: 64px;
            text-align: center;
            background: #fff;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 1px solid #e5e5e5;
            font-size: 20px;
            font-weight: 500;
        }
        .navbar>ul>li.active{
            background: #DD0077;
            color: #fff;
        
        }
        .blogs{
            justify-content: center;
            gap: 20px;
            justify-items: center;
        }
 
        .blog_footer{
            display: flex;
        }
        .blog_footer>li{
            margin-right: 20px;
            font-size: 14px;
        }
        .blog_footer>li>i{
            margin-right: 5px;
            color: rgb(109, 109, 109);
        }
        
        img.germany {
            width: 100%;
        }
        
        img.france {
            width: 100%;
        }
    }


    
    
  

/*----------------- Blog area Responsived -----------------*/

/*----------------- Blog area FINISHED -----------------*/



/*------------------ Footer Area  START -----------------*/
.container.f_content{
    margin: 0 ;
    padding: 70px 50px;
}
.f_content{
    width: 100%;
    height: 345px;
    text-align: center;
    background: linear-gradient(356deg, #000e24 0%, #0b0163 100%);
    color: #fff;
}

.logo{
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
}
hr{
    border: 1px solid rgb(46, 46, 46);
    margin-bottom: 30px;
}
.footer_nav{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

.footer_nav>ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.footer_nav>ul>li{
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}
.social{
    height: 100px;
    width: 200px;
}

.social>li>a>i {
   
color: #fff;
font-size: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 599px) and (max-width:767px){
    .container.f_content{
        margin: 0 ;
        padding: 70px 50px;
    }
    .f_content {
        width: 100%;
        height: 447px;
        text-align: center;
        background: linear-gradient(356deg, #000e24 0%, #0b0163 100%);
        color: #fff;
    }
    .logo{
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    hr{
        border: 1px solid rgb(46, 46, 46);
        margin-bottom: 30px;
    }
    .footer_nav {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .footer_nav>ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .footer_nav>ul>li{
        padding: 0 20px;
        font-size: 16px;
        line-height: 24px;
        color: #B9B9B9;
    }
    .social{
        height: 100px;
        width: 200px;
    }
    
    .social>li>a>i {
       
    color: #fff;
    font-size: 20px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .f_content {
        width: 100%;
        height: 447px;
        text-align: center;
        background: linear-gradient(356deg, #000e24 0%, #0b0163 100%);
        color: #fff;
    }
    .footer_nav {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

/*----------------- Footer Area FINISHED -----------------*/








/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* @media (min-width: 599px) and (max-width:767px){} */
    
    /* Medium devices (landscape tablets, 768px and up) */
    /* @media (min-width: 768px) and (max-width: 1200px) {} */
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* @media only screen and (min-width: 1200px) {} */

button.btn.h_btn::before {
    content:'';
    position:absolute;
    top:0;
    left:-250px;
    width:200px;
    height: 50px;
    transform:skewX(30deg);
    z-index:-1;
    transition: transform .5s ease-in-out;
}
.hero_area:hover button.btn.h_btn::before {
    content:'';
    position:absolute;
    top:0;
    left:250px;
    width:250px;
    height: 50px;
    background:lightpink;
    transform:skewX(30deg);
    z-index:-1;
    animation: btnhover .5s ease-in-out 1;
    
}

button.btn.h_btn {
    
    transition: transform .5s ease-in-out;
    width:200px;
    height: 50px;
    position:relative;
    overflow: hidden;
    z-index:1;
    transition: transform 1s ease-out;
}
button.btn.h_btn:hover {
    
    width:200px;
    height: 50px;
    position:
    relative;
    overflow: hidden;
    z-index:1;
    box-shadow: 16px 8px 27px 6px #d180ac;
    transition: boxshadow .75s ease-in-out;
}
button:hover.btn.h_btn::before {
    content:'';
    position:absolute;
    top:0;
    left:250px;
    width:250px;
    height: 50px;
    background:lightpink;
    transform:skewX(30deg);
    z-index:-1;
    animation: btnhover .5s ease-in-out 1;
    
}
@keyframes btnhover{
    from{left:-250px;}
    to{left:250px;}
}


